extends root

append params
	- var userAuth = false

block styles
	link(rel="stylesheet" href=asset("styles.css"))

block scripts
	script(src=asset("main.js"))

block main
	if userAuth
		+b-header('Заголовок')
	block content

	//- +b-footer()



